<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	
		<connectionStrings>
			<add name="CarbonDB"
				 connectionString="Data Source=OMSHRI\SQLEXPRESS;Initial Catalog=CarbonFootprintDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" />
		</connectionStrings>
	

	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <!-- Removed CodeDom provider block because the package is missing at runtime -->
</configuration>
